.class1{
    width: 400px ;
    padding: 0 20px 30px ;
}

.class2{
    width: 420px ;
    padding: 5px 20px 40px ; 
}

.class3{
    width: 440px ;
    padding: 20px 20px 50px ; 
}

.class1,
.class2,
.class3{
    background-color: tomato;
    margin: 10px ;
    text-align: center;
 
}

.class1-2{
    border: 2px dashed #b47db4 ;
}

.class2-2{
    border: 2px solid #b47db4 ;
}

.class3-2{
    border: 2px dashed #b47db4 ;
}

.class1-2,
.class2-2,
.class3-2{
    display: inline-block;
    width: 100px ;
    text-align: left ;
    padding: 0 5px 30px 0 ;
}

.class1-3{
    text-align: left;
    padding: 12px 10px 10px 12px ;
    border: 3px green solid ;
    width: 80px ;
}

.class1-3 div{
    width: 50px;
    border: 3px green solid ;
}

.class2-3{
    border-left-color: green;
    border-left-style: solid;
    padding: 0 10px 20px 0 ;
    margin: 10px ;
}

.class3-3{
    border: 2px solid brown ;
    width: 100px ;
    overflow: hidden;
    margin: 10px ;
}